@charset "UTF-8";

/*
Variables globales del CSS,
*/
:root {
	--main-color-light: #eeeeee; 
	--main-color-dark: #222222;
	--main-color-gray: #cccccc;
	--main-color1: #ffff99; 
	--main-color2: #99ff99; 
	--main-color3: #99ccff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	background-color: var(--main-color-light);
	color: var(--main-color-dark);
	display: grid;
	grid-template-rows: calc(32px + 4vmax) auto calc(16px + 2vmax);
}

body>header {
	grid-row: 1;
	grid-column: 1/-1;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	text-align: center;
	background-color: var(--main-color2);
	background: linear-gradient(90deg, var(--main-color1) 25%, var(--main-color2) 50%, var(--main-color3) 75%);
}
/*    background-size: 600% 600%;
    animation: 30s ease infinite alternate HeaderAnim;
}
@keyframes HeaderAnim {
    0%   { background-position:0% 50%   }
    50%  { background-position:100% 50% }
    100% { background-position:0% 50%   }
}*/

body>header>h1>img {
	display: inline;
	vertical-align: top;
	width: calc(32px + 2vmax);
	height: auto;
}

body>main {
	grid-row: 2;
	grid-column: 1/-1;
	right: 0;
	left: 0;
	align-content:center;
	padding: calc(5px + 4vmax);
}

body>footer {
	grid-row: 3/-1;
	grid-column: 1/-1;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	text-align: center;
	color: var(--main-color-dark);
	background-color:  var(--main-color-gray);
}

/* Tablet*/
@media only screen and (min-wid:600px) {
}

/*Desktop*/
@media only screen and (min-wid:800px) {
}

@media only screen and (orientation: portrait) {
}