@charset "UTF-8";

/*Variables globales del CSS */
:root { 
	--main-color-light: #eeeeee; 
    --main-color-dark: #222222; 
    --main-color-gray: #cccccc; 
    --main-color1: #ffff99; 
    --main-color2: #99ff99; 
    --main-color3: #99ccff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body  {
	background-color: var(--main-color-light);
	color: var(--main-color-dark);
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: minmax(64px, auto) 0.9fr minmax(23px, auto);
	grid-template-areas: "header header" "main aside" "footer footer";
}

body>header {
	grid-area: header;
	right: 0;
	top: 0;
	left: 0;
	padding: 5px;
	text-align: center;
	background-color: var(--main-color2);
	background: linear-gradient(90deg, var(--main-color1) ,
		var(--main-color2), var(--main-color3));
	right: 0;
}
/*    background-size: 600% 600%;
    animation: 30s ease infinite alternate HeaderAnim;
}
@keyframes HeaderAnim {
    0%   { background-position:0% 50%   }
    50%  { background-position:100% 50% }
    100% { background-position:0% 50%   }
}*/
body>header>h1>img {
	display: inline;
	vertical-align: top;
	width: calc(32px + 2vmax);
	height: auto;
}

body>main {
	grid-area: main;
	left: 0;
	align-content: center;
	padding: calc(5px + 2vmax);
}

body>aside {
	grid-area: aside;
	width: calc(256px + 6vmax);
	right: 0;
	align-content: center;
	padding: calc(5px + 2vmax);
	position: relative;
}

body>footer {
	grid-area: footer;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	text-align: center;
	color: var(--main-color-dark);
	background-color: var(--main-color-gray);
}


#asidemenutoggle, #closemenulabel, #mainmenulabel {
	display: none;
}

/* Vertical changes*/
@media only screen and (orientation: portrait) and (max-width:400px){
	html, body {
		min-width: 400px;
	}
}

/* Change to a single column */
@media only screen and (orientation: portrait) , 
       only screen and (max-width:400px) and (orientation: landscape) {
	body {
		grid-template-columns: auto 1fr;
		grid-template-rows: minmax(64px, auto) 0.9fr minmax(23px, auto);
		grid-template-areas: "header header" "aside main" "footer footer";
	}
	body>aside {
		width: calc(5px + 6vmax);
		background-color: var(--main-color-gray);
		transition: width 0.5s;
	}
	#closemenulabel, #mainmenulabel {
		position: absolute;
		top: calc(1px + 1vmax);
		right: calc(1px + 1vmax);
		display: initial;
	}
	#asidewrapper,  #closemenulabel , 
	#asidemenutoggle:checked ~ aside #mainmenulabel {
		visibility: hidden;
	}
	#asidemenutoggle:checked ~ aside #closemenulabel, 
	#asidemenutoggle:checked ~ aside #asidewrapper {
		visibility: visible;
	}
	#asidemenutoggle:checked ~ aside {
		width: calc(256px + 6vmax);
	}
}


@media print {
  /* Contenido del fichero print.css */
}